/home/unix/MyCODE/GitProjects/GarageDoorAutomation/SW/SWProject
/SW/SWProject/Debug/
/PCB/motordriver_2019-05-24/outputs/
/PCB/motordriver_2019-05-24/
/SW/SWProject/cubeConfig/stmf1/Drivers/
/SW/SWProject/cubeConfig/stmf1/Inc/
/SW/SWProject/cubeConfig/stmf1/Middlewares/
/SW/SWProject/cubeConfig/stmf1/Src/
/Matlab/work/
